.active {
    background-color: darkslategrey;
    font-weight: bold;
}

#tasks_container {
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: repeat(3, 150px);
}
.task_date {
    border: 1px solid black;
}
.task_description {
    border: 1px solid black;
}
.task_preview {
    border: 1px solid black;
}